body { background-color: maroon; }

h1 { background-color: cyan; text-align: center; }

h2 { background-color: cyan; text-align: center; }

p { background-color: lightgray; text-align: center; margin-left: 500px; margin-right: 500px; }

img { border-style: solid; border-width: 4px; border-color: cyan; }

div { text-align: center; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-align: center;
  display: block;
  padding: 16px;
  border-width: 4px;
  border-style: solid;
  background-color: cyan;
}